<h2>Articles</h1>

<h3>Here are the your saved hotel articles</h3>

<ul>
  {{#each dbArticles}}
   <h5>{{headline}}</h5>
   <a href="{{link}}">{{link}}</a>
    <p>{{summary}}</p>
    <a class="waves-effect waves-light btn" id="addNote">Add Note</a>
    <a class="waves-effect waves-light btn" id="Delete">Delete</a>
  {{/each}}
</ul>