<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Hotel News and Notes</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Hotel News and Notes</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn" id="home">Home</a></li>
        <li><a class="waves-effect waves-light btn" id="savedArticles">Saved Articles</a></li>
        <li><a class="waves-effect waves-light btn" id="scraper">Scrape Articles</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a class="waves-effect waves-light btn" id="home">Home</a></li>
        <li><a class="waves-effect waves-light btn" id="savedArticles">Saved Articles</a></li>
        <li><a class="waves-effect waves-light btn" id="scraper">Scrape Articles</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/pic1.jpg" alt="newpaper image"></div>
  </div>
<div class="container">
    <div class="section">


      
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">How to Use This App</h5>

            <p class="light">We have collected stories from several hotel news outlets and we will update our collection every time you click Scrape Articles above.  Once you have clicked the scrape button above, the latest articles will appear below this screen.  You can then save the articles that are of interest to you, and make notes on them.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Hotels Only</h5>

            <p class="light">We have tried to eliminate any non-hotel articles although sometimes a few will appear as they may be indirectly related to hotels.  Our goal though is to keep the articles in our database as focused on hotels as possible so we can be a reliable source for you to find out the latest hotel info.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Free to Use</h5>

            <p class="light">Currently we are offering this service for free.  Eventually we may add some enhancements and offer a subscription service for a fee.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="wrapper">

      {{{body}}}

    </div>
  </div>
</div>

    <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Scout Simply</h5>
          <p class="grey-text text-lighten-4">We build apps for hotels.</p>


        
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/app.js"></script>

  </body>
</html>
